body {
    font-family: Arial;
    background: #0d1b2a;
    color: white;
    text-align: center;
}

.container {
    margin-top: 50px;
}

.numbers button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.result {
    margin: 20px;
    font-size: 24px;
}
