body {
    margin: 0;
    background: black;
    color: white;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#lockScreen {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

#prankMessage {
    display: none;
    position: fixed;
    bottom: 40px;
    width: 100%;
    text-align: center;
    font-size: 22px;
}
